body {
    background-color: #efe9e9;
}
/*页面为车间*/
#aLiteraryCreation {
    background-color: rgba(248, 248, 255, 0.35);
}
/*富文本编辑栏*/
#toolbar-container {
    border-bottom: 1px solid #ccc;
    margin: 0;
    padding-left: 70px;
    padding-right: 70px;
    background-color: #ffffff;
    z-index: 99999;
}
/*头部div，包括标题和内容*/
#headDiv {
    position: relative;
    background-color: #ffffff;
    top: 5%;
    left: 22.7%;
    width: 50%;
    margin-right: 0 !important;
    min-height: 650px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    /*overflow: hidden;*/
}
#headDiv #editor-container {
    flex: 1; /* 设置子元素自动填充剩余空间 */
    min-height: 100px; /* 设置最小高度 */
    height: auto; /* 高度自动适应内容 */
    /*overflow: auto;*/ /* 内容超出高度时出现滚动条 */
    margin: 0;
    padding: 0;
}
/*标题*/
#title {
    position: relative;
    padding: 10px;
    font-size: 20px;
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
    width: 100%;
    display: inline-block;
}
/*文章详细信息填写*/
#detailedArticleDiv {
    position: relative;
    background-color: #ffffff;
    width: 50%;
    left: 22.7%;
    top: 8%;
    height: 300px;
    padding: 40px;
    display: inline-block;
    overflow: hidden;
}
/*标签选择提示栏*/
#selectTipsDiv {
    position: relative;
    display: inline-block;
    right: 8px;
    visibility: hidden;
}
#tagOneDiv {
    position: absolute;
    border-radius: 5px;
    left: -2%;
    top:-40%;
    width: 95px;
    height: 20px;
    font-size: 12px;
    padding: 5px;
    background-color: rgb(49, 49, 49);
    color: rgb(231, 223, 223);
    border: 0;
    pointer-events: none; /*穿透上层div,操控下层div*/
}
#tagTwoDiv {
    position: absolute;
    margin: 0;
    padding: 0;
    border: 15px solid transparent;
    border-top-color:rgb(49, 49, 49);
    width: 0;
    height: 0;
    left: 0.5%;
    top:-5%;
}
/*标签疑问svg*/
#selectTag {
    position: relative;
    margin: 0;
    padding: 0;
    width: 20px;
    height: 20px;
    top: 18px;
    right: 3px;
    cursor: pointer;
}
/*标签云*/
.tag-cloud {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.tag {
    background-color: #eee;
    border-radius: 20px;
    color: #333;
    display: inline-block;
    font-size: 15px;
    font-family: "微软雅黑 Light";
    margin: 9px;
    padding: 8px;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}

.tag.selected {
    background-color: #8f8b8b;
    color: #fff;
}
/*简介div*/
#briefIntroductionDiv {
    position: relative;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
    justify-content: center;
}
/*简介填写提示栏*/
#introduceTipsDiv {
    position: relative;
    display: inline-block;
    right: 30px;
    bottom: 56px;
    visibility: hidden;
}
#introduceOneDiv {
    position: absolute;
    border-radius: 5px;
    left: -2%;
    top:-40%;
    width: 93px;
    height: 20px;
    font-size: 12px;
    padding: 5px;
    background-color: rgb(49, 49, 49);
    color: rgb(231, 223, 223);
    border: 0;
    pointer-events: none; /*穿透上层div,操控下层div*/
}
#introduceTwoDiv {
    position: absolute;
    margin: 0;
    padding: 0;
    border: 15px solid transparent;
    border-top-color: rgb(49, 49, 49);
    width: 0;
    height: 0;
    left: 0.5%;
    top: 20px;
}
/*简介疑问图标*/
#briefIntroductionIcon {
    position: relative;
    padding: 0;
    margin: 0;
    width: 20px;
    height: 20px;
    top: 4px;
    right: 29px;
    cursor: pointer;
}
/*博客简介*/
#briefIntroductionDiv {
    position: relative;
    padding: 39px;
}
#textArea {
    position: relative;
    margin: 0 0 0 2px;
    padding: 0;
    width: 88%;
    height: 24%;
    bottom: 40px;
    left: 90px;
    padding: 5px;
    font-size: 15px;
    font-family: "微软雅黑 Light";
    outline: none;
}
/*类型提示栏*/
#typeTipsDiv {
    position: relative;
    display: inline-block;
    right: -8px;
    bottom: 160px;
    visibility: hidden;
}
#typeOneDiv {
    position: absolute;
    border-radius: 5px;
    left: -2%;
    top:7px;
    width: 350px;
    height: 78px;
    font-size: 10px;
    padding: 5px;
    background-color: rgb(49, 49, 49);
    color: rgb(231, 223, 223);
    border: 0;
    pointer-events: none;
}
#typeTwoDiv {
    position: absolute;
    margin: 0;
    padding: 0;
    border: 15px solid transparent;
    border-top-color: rgb(49, 49, 49);
    width: 0;
    height: 0;
    left: 4px;
    top: 85px;
}
/*类型疑问图标*/
#typeIcon {
    position: relative;
    padding: 0;
    margin: 0;
    width: 20px;
    height: 20px;
    bottom: 36px;
    right: -13px;
    cursor: pointer;
}
/*body下沿空白*/
#space {
    position: relative;
    width: 100%;
    height: 100px;
    bottom: -12%;
    background-color: #efe9e9;
    z-index: 3;
    pointer-events: none;
}
/*发布*/
#releaseDiv {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 66px;
    background-color: #ffffff;
    z-index: 4;
}
/*跳跃*/
#jump {
    position: absolute;
    text-decoration: none;
    font-size: 15px;
    color: #333333;
    left: 22.5%;
    top: 30%;
}
/*发布按钮*/
#releaseBut {
    position: absolute;
    left: 71.5%;
    top: 20%;
    width: 100px;
    height: 40px;
    border-radius: 18px;
    background-color: #fc5531;
    color: #ffffff;
    border-style: none;
    cursor: pointer;
}
/*空缺提示*/
#vacancyReminderDiv {
    position: fixed;
    width: auto;
    max-width: 100%;
    height: auto;
    padding: 15px;
    color: #ffffff;
    background-color: #4d4a4a;
    top: 81.5%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    font-size: 15px;
    z-index: 9999999;
    display: none;
}

#reportErrorsIcon {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px;
    width: 20px;
    height: 20px;
    margin-right: 5px; /* 调整图标和文字之间的间距 */
}
#vacancyReminderSpan {
    position: relative;
    bottom: 50%;
    margin-bottom: 2px; /* 向上移动 5px */
}
